{% set metaTitle = entry.metaTitle ?? entry.title ~ ' - Studio Clean' %}


<!-- Primary Meta Tags -->
<title>{{  metaTitle }}</title>
<meta name="title" content="{{ metaTitle }}"/>
<meta
name="description" content="With Meta Tags you can edit and experiment with your content then preview how your webpage will look on Google, Facebook, Twitter and more!"/>

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website"/>
<meta property="og:url" content="https://metatags.io/"/>
<meta property="og:title" content="{{ metaTitle }}"/>
<meta property="og:description" content="With Meta Tags you can edit and experiment with your content then preview how your webpage will look on Google, Facebook, Twitter and more!"/>
<meta
property="og:image" content="https://metatags.io/images/meta-tags.png"/>

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image"/>
<meta property="twitter:url" content="https://metatags.io/"/>
<meta property="twitter:title" content="{{ metaTitle }}"/>
<meta property="twitter:description" content="With Meta Tags you can edit and experiment with your content then preview how your webpage will look on Google, Facebook, Twitter and more!"/>
<meta
property="twitter:image" content="https://metatags.io/images/meta-tags.png"/>

<!-- Meta Tags Generated with https://metatags.io -->
