<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		{% include "_partials/_meta.twig" %}
	</head>
	<body>
		{% block body %}
			Standaard content
		{% endblock %}
	</body>
</html>
